<!-- this is the first tag "html form"
<form action="/users" method="post">
  <div>
    <label for="email">Email: </label>
    <input type="email" name="user[email]">
  </div>
  <div>
    <label for="username">Username: </label>
    <input type="text" name="user[username]">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password" name="user[password]">
  </div>
  <div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>%"></div>
  <div>
    <input type="submit" name="submit" value="submit"></div>
</form>
-->
<!--
<%= form_tag "/users", method: "post"  do %>
  <div>
    <%= label_tag :username, "Username: " %> 
    <%= text_field_tag :username %></div>
  <div>
    <%= label_tag :email, "Email: " %>
    <%= text_field_tag :email %></div>
  <div>
    <%= label_tag :password, "Password: " %>
    <%= text_field_tag :password %></div>
  <div>
    <%= submit_tag "Submit" %></div>
<% end %>
-->
<%= form_for @user do |f| %>
  User name: 
  <%= f.text_field :username %> <br>
  Email: 
  <%= f.text_field :email %> <br>
  Password: 
  <%= f.text_field :password %> <br>
  <%= f.submit "#{yield(:submit)}" %>
<% end %>
